.new-arrivals {
  padding: 4rem 0;
  background-color: #f9f9f9;
  overflow: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 2rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin: 0;
    }

    .category-button {
      padding: 0.5rem 1.5rem;
      border: 1px solid #333;
      background: white;
      color: #333;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #007bff;
        color: white;
      }
    }
  }

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  .arrow {
    background: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background 0.3s;
    z-index: 1;
    flex-shrink: 0;

    &:hover {
      background: #0056b3;
    }
  }

  .products-slider {
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 2.5rem;   
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 2rem 3rem;
    flex: 1;
    // overflow: hidden;
    app-product-card {
      flex: 0 0 230px;
      max-width: 250px;
    }
  }
}

}
